a {
  text-decoration: none;
  color: #4F4F4F; /* default icon color */
  font-size: 12px; /* adjust size as needed */
}

a:hover .fa-arrow-up {
  color: #ff8b60; /* Reddit's orangered color for upvotes */
}

a:hover .fa-arrow-down {
  color: #9494FF; /* A light blue color for downvotes */
}

a .fa-arrow-up {
    color: #ff4400; /* Reddit's orangered color for upvotes */
}
  
a .fa-arrow-down {
    color: #1861ff; /* A light blue color for downvotes */
}

/* Additional styling to space out the icons and align them with the text */
a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: color 0.3s;
}

span {
  margin-left: 8px; /* Add space between icon and text */
}

.upvote-group, .downvote-group {
    border: 1px solid #ddd; /* light grey border */
    border-radius: 200px; /* rounded corners */
    padding: 5px 10px; /* some padding inside the border */
    display: inline-flex; /* use flex layout */
    align-items: center; /* align items vertically */
    justify-content: center; /* center content horizontally */
    text-decoration: none; /* remove underline from links */
    margin-right: 8px; /* space between the button and the count */
    transition: all 0.3s ease; /* smooth transition for hover effects */
  }